* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: darksalmon;
  min-height: 15vh;
  display: grid;
  place-items: end;
  font-size: 16px;
}

#menu {
  margin: 10px;
}

#menu a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  padding: 0 10px;
}

#menu a:hover {
  color: #666;
}

section {
  display: grid;
  place-items: center;
  background: #333;
  padding: 10px 0;
  gap: 10px;
  min-height: 70vh;
}

.conteudo {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.conteudo img {
  width: 400px;
}

.conteudo div {
  height: 225px;
  overflow: hidden;
}

#pikachu {
  position: relative;
  top: -70px;
}

#texto-um {
  width: 400px;
}

#texto-dois {
  width: 400px;
  text-align: right;
}

footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
}
